# CODEOWNERS

# These owners are requested for review on all PRs by default.

# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @pedro-lino @luishsr @andy-thomason
